* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://e0.pxfuel.com/wallpapers/453/46/desktop-wallpaper-ancient-background-background-ancient-scroll.jpg");
  background-repeat: none;
  background-size: cover;
}

.card {
  height: 50vh;
  width: 50vw;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 20px;
  background-image: url("https://media.istockphoto.com/id/625682990/photo/old-grunge-paper-texture-or-background.jpg?s=612x612&w=0&k=20&c=2ttdKjk7PJBof_w2uALznQ9xqPvzW7QK07Xk3KrVCtU=");
  background-repeat: none;
  background-size: cover;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.15);
}

.fg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 4.5em;
  color: #333333;
}

.badge {
  height: 15em;
  z-index: 2;
  padding-bottom: 1em;
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
}

.title {
  font-size: 2em;
  font-weight: 800;
}

.sub-title {
  font-size: 1.2em;
  font-weight: 500;
}

.confetti {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  border-radius: 20px;
}

.confetti:focus { outline: 0; }

.confetti:before, .confetti:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.confetti:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ffc598 20%, transparent 30%), radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffc598 15%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.confetti:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffc598 15%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%), radial-gradient(circle, #ffc598 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.confetti:active {
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.confetti.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; 
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@media screen and (max-width:768px) {
  .badge {
    height: 10em;
  }
  
  .title {
    font-size: 1.2em;
    font-weight: 800;
  }
  
  .sub-title {
    font-size: 0.6em;
    font-weight: 500;
  }
}